body {
  background: blanchedalmond;
}

* {
  border: 1px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 100vh;
  /* gap: 2em; */
}

.a, .c {
  flex-grow: 1;
  margin: 1em;
}

.b {
  flex-grow: 5;
  margin-left: 1em;
  margin-right: 1em;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a {
    width: 100%;
  }

  .b {
    max-width: 80%;
  }

  .c {
    max-width: 20%;
    flex-direction: row;

  }
}
